.navbar {
  background-color: var(--overwatch-orange);
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  box-shadow: 0 7px 20px 5px #00000088;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  color: var(--font-light);
}

.nav-items-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0 2rem;;
  height: 100%;
}

.nav-item {
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;

  a {
    font-weight: 500;
    color: var(--font-light);
    text-decoration: none;
  }

  &:hover {
    background-color: var(--overwatch-orange-dark);
    cursor: pointer;
  }
}

@media screen and (max-width: 749px) {
  .navbar, .nav-items-container {
    padding: 0;
  }

  .title, .nav-item {
    padding: 0 2rem;
  }
}
