.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-wrapper {
  background-color: var(--dark-blue);
  border-radius: var(--box-border-radius);
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: fit-content;
}

.header {
  color: var(--font-light);
  margin-bottom: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input {
  background: var(--light)
}

.submit-btn {
  width: fit-content;
}
